{% extends 'base.html' %}

{% block title %} CoronaVirus Tracker {% endblock %}
{% block body %} 
<body>
     <div class="container">
      <h3><i><span id="typed"></span></i></h3></div>
    <div class="container d-flex justify-content-center" id="bg">
      <form method="post" action="" name="myform">
        <div class="form-group mt-2">
          <label for="formGroupExampleInput2" class="ml-1 text-warning"><b>Confirmed</label>
          <input type="text" class="form-control text-center font-weight-bold" id="formGroupExampleInput2" value="{{confirmed}}" readonly>
        </div>
        <div class="form-group mt-2">
          <label for="formGroupExampleInput3" class="ml-1 text-warning"><b>Deaths</label>
          <input type="text" class="form-control text-center font-weight-bold" id="formGroupExampleInput3" value="{{death}}" readonly>
        </div>
        <div class="form-group mt-2">
          <label for="formGroupExampleInput4" class="ml-1 text-warning"><b>Recovered</label>
          <input type="text" class="form-control text-center font-weight-bold" id="formGroupExampleInput4" value="{{recovered}}" readonly>
        </div>
        <div class="form-group mt-2">
          <label for="formGroupExampleInput5" class="ml-1 text-warning"><b>New Cases</label>
          <input type="text" class="form-control text-center font-weight-bold" id="formGroupExampleInput5" value="{{newcases}}" readonly>
        </div>
        <div class="form-group mt-2">
          <label for="formGroupExampleInput6" class="ml-1 text-warning"><b>New Deaths</label>
          <input type="text" class="form-control text-center font-weight-bold" id="formGroupExampleInput6" value="{{newdeaths}}" readonly>
        </div>

    </div>
  </body>
    {% endblock %}}