{% extends 'base.html' %}

{% block title %} CoronaVirus Tracker {% endblock %}
{% block body %} 

<div class="container">
  <h2 class="text-center mb-4 bg-dark text-white mx-5 py-1">India's District-Wise Cases</h2>
    <table class="table mt-4 text-center">
            <thead>
              <tr>
                <th scope="col">City</th>
                <th scope="col">Confirmed</th>
              </tr>
            </thead>
            <tbody>
              
                    {% for i in detail %}
                    <tr>
                      {% for j in i %}
                      <td>{{j}}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
            </tbody>
          </table>
</div>
{% endblock %}}