{% extends 'base.html' %}

{% block title %} Possible Future Cases {% endblock %}
{% block body %} 

    <div class="container">
      <h2 class="text-center mb-4 bg-dark text-white mx-5 py-1">Search for Possible Future Cases</h2>
      <div class="container d-flex justify-content-center">
        <form method="post" action="/futurecases/" name="myform">{% csrf_token %}
          <div class="form-group mt-2">
            <label for="countryname" class="ml-1 text-dark"><b>Country Name</label>
            <input type="text" class="form-control text-center" id="countryname" name="countryname" value="" placeholder="Enter Country Name">
          </div>
          <div class="d-flex justify-content-center">
              <button class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="container mt-4 text-center w-75">
        <h2 class="mb-4 bg-light text-dark float-left">Results:</h2>
      <table class="table table-borderless table-dark mt-4">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Cases</th>
            <th scope="col">Deaths</th>
            <th scope="col">Recovered</th>
          </tr>
        </thead>
        <tbody>
          {% for i in detail %}
          <tr>
            {% for j in i %}
            <td>{{j}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>

{% endblock %}}