{% extends 'base.html' %}

{% block title %} CoronaVirus Tracker {% endblock %}
{% block body %} 

     <div class="container">
    <div class="container d-flex justify-content-center">
      <form method="post" action="/showcountrycases/" name="myform">{% csrf_token %}
        <div class="form-group mt-2">
          <label for="countryname" class="ml-1 text-dark"><b>Country Name</label>
          <input type="text" class="form-control text-cente" id="countryname" name="countryname" value="">
        </div>
        <div>
            <button class="btn btn-dark">Submit</button>
        </div>
    </div>

    <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">Province</th>
                <th scope="col">Country</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Deaths</th>
                <th scope="col">Recovered</th>
              </tr>
            </thead>
            <tbody>
              {% for i in detail %}
              <tr>
                {% for j in i %}
                <td>{{j}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
              
            </tbody>
          </table>

{% endblock %}}